<h1><%= @project.title %></h1>
<h2><%= @project.description %></h2>
<h2>Funding Target: <%= @project.funding_target%></h2>
<h2>Amount Raised: <%= @project.amount_raised%></h2>

<% if @project.funding_target <= @project.amount_raised%>
<h1><%="YOU REACHED YOUR TARGET!"%></h1>
<% end%>

<%= link_to "Edit", edit_project_path(@project)%>
<%= button_to "Delete", project_path(@project), method: :delete %>


<%= button_to "Increase Funding", "/projects/#{@project.id}/add_funding" %>
